body {background-color: powderblue;}
h1   {color: black;}
p    {color: #126;}
li {float: left; margin:0; padding: 0; background-color: #fa6;}
li:hover {background-color: #ff6;}
li a{color: black; margin: 16px;}
article {margin: 12px; background-color: #bbf;}
aside{background-color: #ff6; color: #000; border-style: solid;  border-width:2px; border-color: #fa0}
.column{float: left;}
.left {width: 25%;padding: 20px;}
.right {width: 70%;}
footer{padding-top: 15px; margin: 15px; background-color: #bbf; color: #000;}
img{margin: 15px;}
nav{ display: flex; flex-wrap: nowrap;}
h1{text-align:center;}
h2{text-align:center;}