<!doctype html>

<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}" />
	<title>Bribe</title>
	
</head>

<body>
	<nav>
	<ul style="list-style-type:none" >
		<li><a href="{% static 'blog/index.html' %}">Main Page</a></li>
		<li><a href="{% static 'blog/aboutme.html' %}">About me</a></li>
		<li><a href="{% static 'blog/tech.html' %}">Tech Stuff</a></li>
		<li><a href="{% static 'blog/bribe.html' %}">TA Bribe Signup</a></li>
	</ul>
	</nav>
	<br/>
	<h2> Would This Shiny Nickle Change my Grade?</h2>
	<img src=http://thrivingdespite.com/wp-content/uploads/2014/12/nickle.png>
	<article>
	<p> Just fill out the forms and get your bribe today!</p>
	<form>
		Personal Info:<br>
		<input type="text" name="firstname"><br>
		Bank Stuff:<br>
		<input type="text" name="All your numbers">
		<input type="submit" value="Submit">
	</form>
	</article>
	<br/>
	<footer> Accessed {{current_time}}. Copywrite 2017. All rights reserved. Open source under MIT licence. Puppys are cute. W3Schools basically wrote this site. <footer>

</body>
</html>