
<form action="/comment/" method="post">
    <label for="nickname">Nickname </label>
    <input id="nickname" type="text" name="nickname" value="{{ nickname }}"><div>
    <label for="email">Email address </label>
    <input id="email" type="text" name="email" value="{{ email }}"><div>
    <label for="content">Comment </label>
    <input id="content" type="text" name="content" value="{{ content }}"><div>
  	<input type="submit" value="OK">
</form>