<!doctype html>

<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}" />
	<title>David Oliphant's page</title>
	
</head>

<body>
	
	<nav>
	<ul style="list-style-type:none" >
		<li><a href="{% static 'blog/index.html' %}">Main Page</a></li>
		<li><a href="{% static 'blog/aboutme.html' %}">About me</a></li>
		<li><a href="{% static 'blog/tech.html' %}">Tech Stuff</a></li>
		<li><a href="{% static 'blog/bribe.html' %}">TA Bribe Signup</a></li>
	</ul>
	</nav>
	<div class="row">
	<div class="column right">
		<br/>
		<div class= "column">
		<h1> My Generic Website</h1>
		<h3><i>Ispirational Quote here</i></h3>
		</div>
		<img src="http://pngimg.com/uploads/dog/dog_PNG2446.png" height=300px />
		<br/>
		<article>
			<h2>Secret Message #1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id tellus sem. Quisque convallis et nisi et vulputate. Sed finibus urna id posuere varius. Nunc tempus tortor eget ante pellentesque tincidunt. Morbi nec luctus ligula. Suspendisse auctor non justo ac congue. Vestibulum quam nibh, porttitor quis porta sed, vulputate id justo.</p>
			<p>Morbi interdum ex tempus magna convallis fringilla. Pellentesque gravida felis vitae ipsum blandit lacinia. Sed a quam eleifend, rutrum arcu id, porta metus. Nullam vitae fermentum neque. Praesent a ante purus. Mauris faucibus dui ut facilisis porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a sollicitudin tellus. Curabitur quis nunc pretium, venenatis lacus a, placerat metus. Fusce sodales ligula finibus erat suscipit, eget commodo odio rutrum. Nunc quis feugiat libero.<p>
		</article>
		<br/>
		<article>
			<h2>Meaningles Button Mashing #2</h2>
			<p>Duis dignissim venenatis dolor eu semper. Phasellus lacinia magna at libero placerat interdum. Maecenas imperdiet augue nec justo imperdiet dictum sit amet sit amet purus. Phasellus scelerisque, sem ut lobortis congue, purus urna viverra diam, et laoreet arcu orci sed purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum magna sapien, sodales nec tincidunt sit amet, vestibulum vitae enim. Proin purus augue, vehicula ac fermentum eu, fermentum viverra elit. Nulla mollis, diam ac mattis ultrices, ligula ipsum volutpat sapien, eu laoreet arcu neque id mi.</p>
		</article>
		<br/>
		<article>
			<h2>My Honest Feelings #3</h2>
			<p>Phasellus lacinia magna at libero placerat interdum. Maecenas imperdiet augue nec justo imperdiet dictum sit amet sit amet purus. Phasellus scelerisque, sem ut lobortis congue, purus urna viverra diam, et laoreet arcu orci sed purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum magna sapien, sodales nec tincidunt sit amet, vestibulum vitae enim. Proin purus augue, vehicula ac fermentum eu, fermentum viverra elit. Nulla mollis, diam ac mattis ultrices, ligula ipsum volutpat sapien, eu laoreet arcu neque id mi.</p>
		</article>
		<footer>Accessed {{current_time}}. Copywrite 2017. All rights reserved. Open source under MIT licence. Puppys are cute. W3Schools basically wrote this site. <footer>
	</div>
	<div class="column left">
	<aside>
		<h3>The aside!<h3>
		<p>Welcome to my aside! Here you can find other website things that make up a website. Maybe Mr Clippy can help you navigate!</p>
		<a href="https://www.w3schools.com/"><img src="https://vignette.wikia.nocookie.net/central/images/c/cb/Clippy.png/revision/latest?cb=20110716185608" alt="Clippy" width=25%></a>
		<p>Vestibulum pharetra porta nibh quis accumsan. Vivamus scelerisque odio a metus iaculis, a fermentum turpis tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas non sapien dui. Suspendisse id mi laoreet, placerat arcu id, egestas augue. Fusce in pretium diam. Curabitur risus eros, porta in euismod in, suscipit in ex.</p>
	</aside>
	</div>
	</div>
	
</body>
</html>