<!doctype html>

<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}" />
	<title>HackermanTutorial</title>
	
</head>

<body style="background-image: url(http://ak6.picdn.net/shutterstock/videos/28467886/thumb/1.jpg);
		background-repeat:repeat-x;
		background-size: 600px 300px;">
	<nav>
	<ul style="list-style-type:none" >
		<li><a href="{% static 'blog/index.html' %}">Main Page</a></li>
		<li><a href="{% static 'blog/aboutme.html' %}">About me</a></li>
		<li><a href="{% static 'blog/tech.html' %}">Tech Stuff</a></li>
		<li><a href="{% static 'blog/bribe.html' %}">TA Bribe Signup</a></li>
	</ul>
	</nav>
	<br/>
	<div class="row">
	<div class="column right">
		<h1><font style="color: #ff0">How to be HackerMan!</font></h1>
		<br/>
		<article>
			<h3>Step one: Windows CMD</h3>
		
			<p>Press the widnows button, type "cmd", press 'Enter'. Now just use 'cd c:/file/location' to select the file you want to go to. Use 'dir' to display what files are in this directory. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit placerat rhoncus. Etiam faucibus faucibus mattis. Aenean euismod id lorem ut feugiat. Vestibulum ut tellus arcu. Phasellus non feugiat purus. Pellentesque pellentesque dictum fringilla. Nullam nec libero eu ligula rhoncus tempor sed non enim.</p>
		</article>
		<article>
			<h3>Step two: Git Gud</h3>
			<p> Now the trick to Git is to <a href="https://git-scm.com/downloads">download Git.</a> Go make a Repo at <a href="https://bitbucket.org/">BitBucket.</a> In cmd go to a directory you want and clone that repo with 'git clone www.repoUrl.com'. Now just throw some files in there that help you hack time and reupload with 'git add yourfile.txt' then 'git commit -m "message of what you added"' and finally 'git push origin master' to save it. </p>
		</article>
		<article>
			<h3>Step three: Hacking Time</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at nisi at lorem tempus facilisis. Nulla venenatis odio nec suscipit vulputate. Morbi faucibus velit et enim condimentum luctus. Suspendisse vestibulum nisi ac augue faucibus, a aliquet odio fringilla. Nunc pretium pretium nisi, vitae venenatis sem cursus consequat. Vestibulum maximus tincidunt eros, id eleifend elit tincidunt eget. Etiam egestas, tortor eu fermentum congue, elit odio vehicula velit, eu commodo orci dui at ipsum.<p>
		
		</article>
		<footer> Accessed {{current_time}}. Copywrite 2017. All rights reserved. Open source under MIT licence. Puppys are cute. W3Schools basically wrote this site. <footer>
	</div>
	<div class="column left">
	<aside>
		<h3>Meme Resume<h3>
		<br/>
		<img width=200px src="https://i.redditmedia.com/1dYDBR7xT_gQRYss2KKlcbAEPoRO_HQLXl51CtitA24.jpg?w=640&s=2f96f84aa0cd1830b81c92be2511196c">
		<br/>
		<img width=200px src="https://i.redditmedia.com/0WeoUGebMfC_ZKkmitjAjLkmGbTda0AhLTf-ClPQvmE.jpg?w=1024&s=434bcc883f6726d674f331b666762894">
		<br/>
		<img width=200px src="https://i.redditmedia.com/tNkrvVXEHTajF9gjPDPzfTEUMNS6lre2KwB6eEhJxYY.jpg?w=568&s=243050384a993a6d74150921327c0680">
	</aside>
	</div>
	</div>
</body>
</html>