{% if latest_blog_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
			<a href="/blog/{{ blog.id }}/">{{ blog.title }}</a>
		</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Blogs are available.</p>
{% endif %}